<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>addUser</title>
  </head>
  <body>
    <h3>Add a User</h3>
<div class="addUserContainer">
    <form class="" action="/create_user" method="post">
      <input type="text" name="name" placeholder="Your Name">
      <br>
      <input type="email" name="email" placeholder="Your Email">
      <br>
      <textarea name="bio" rows="6" cols="40" placeholder="Your Bio"></textarea>
      <br>
      <input type="submit"value="Submit User">
    </form>
<div>
  </body>
</html>
