<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>users</title>
</head>

<body>

  <h1>Users</h1>

  <a href="/addUser">Add a User</a>
  {{#users}}
    <div class='userContainer'>
      <ul>

        <li><a href="/update/{{id}}">{{name}}</a>, ID:{{id}}</li>
        <p>{{email}}</p>
        <p>{{bio}}</p>
        <form class="" action="/delete_user/{{id}}" method="post">
          <p><button type="submit">Delete</button></p>
        </form>
      </ul>
    </div>
    <hr>
  {{/users}}

</body>

</html>
